#container {
	width: 1000px;
	height: 530px;
	margin: 0 auto;
}

#header {
	
	width: 975px;	
	height: 200px;
	margin: 25px auto 25px auto;
}
#clock {
	width:975px;
	height: 230px;
	background-color: #CCCCCC;
	margin: 0 auto;
}

.digit {
	float: left;
	height: 200px;
	margin: 0 auto;
}

.pix {
	width: 50px;
	height: 50px;
	border-radius: 5px;
	margin: 7.5px 7.5px;
	float: left;
	background-color: #666666;
}

.spacer {
	width: 50px;
	float: left;
	margin: 0 auto;
	height: 200px;
	padding: 15px;
}

#hrten {
	width: 80px;
	padding: 15px;
}

#hrone {
	width: 195px;
		padding: 15px;
}

#minten {
	width: 145px;
		padding: 15px;
}

#minone {
	width: 195px;
		padding: 15px;
}
